# docker-compose.yml
version: '3.8'
services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: flowbitdb
    ports:
      - '5440:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: